# dependencies
node_modules/
.pnp
.pnp.js

# next.js
tv-hub/.next/
tv-hub/out/

# production
build/
dist/

# misc
.DS_Store
*.pem
.env
.env*.local

# debug
npm-debug.log*

# android
tv-hub/android/.gradle/
tv-hub/android/build/
tv-hub/android/app/build/
tv-hub/android/local.properties
tv-hub/android/gradle/wrapper/gradle-wrapper.jar
tv-hub/android/gradlew
tv-hub/android/gradlew.bat
*.apk
*.jks
*.keystore
tv-hub/android/.idea/
tv-hub/android/*.iml
tv-hub/android/app/*.iml
